body {
  font: 15px Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F4F4F4;
}

/* Estilos goblaes */

.contenedor {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  width: 60px;
}

hr {
  border: 1px dotted #000;
}

.boton1 {
  height: 38px;
  width: 100px;
  background-color: #E8491D;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
}

/* Estilos Encabezado */

header {
  background: #24282B;
  color: #FFFFFF;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #1293D4 5px solid;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  /*hace dirigir las listas hacia la izquierda*/
  display: inline;
  /*Permite que las listas se vean seguidas en el menu*/
  padding: 0 20px 0 20px;
}

header #marca {
  float: left;
}

header #marca h1 {
  margin: 0;
  float: right;
  padding: 5px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .resaltado, header .actual a {
  color: #1293D4;
  font-weight: bold;
}

header a:hover {
  color: #CCCCCC;
  font-weight: bold;
}

/*fin estilos titulo*/

/*Estilos Boletin*/

#boletin {
  padding: 15px;
  color: #FFFFFF;
  background: #006e8c;
}

#boletin form {
  float: left;
  margin-top: 8px;
}

#boletin input[type="text"] {
  padding: 5px;
  height: 24px;
  width: 450px;
  border-radius: 20px;
}

#boletin select {
  padding: 6px;
  height: 35px;
  width: 450px;
}

.boton1 {
  height: 38px;
  background-color: #E8491D;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
}

/* Estilos caja */

#cajas, #caja2 {
  margin-top: 20px;
}

#cajas .caja {
  position: relative;
  float: left;
  text-align: justify-content;
  width: 20%;
  height: 260px;
  border: 1px solid #000;
  margin: 20px;
  background-color: #d4e3fc;
  border-radius: 20px;
}

#cajas .caja2 {
  float: left;
  text-align: justify-content;
  width: 100%;
  height: 128px;
  background-color: #90caf9;
  border-radius: 0px 0px 20px 20px;
}

#cajas .caja2 h3 {
  padding-left: 8px;
}

#cajas .caja2 p {
  margin: 10px;
  padding-bottom: -10px;
}

#cajas img {
  width: 188px;
  margin: 15px;
}

#cajas p {
  font-size: 10px;
  text-align: justify;
}

#cajas div#circulo {
  float: left;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #006e8c;
  border-radius: 50%;
  margin-left: 48%;
  border: 1px solid black;
  margin-top: -10px;
}

.oscuro {
  padding: 15px;
  background-color: #35424A;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #FFFFFF;
  background-color: #1293D4;
  text-align: center;
}